---
import Footer from "../components/Footer.astro";
import Layout404 from "../layouts/Layout 404.astro";


---
<Layout404 title="404 - NO encontrado" >
    <div class="grid grid-cols-1 justify-items-center">
        <h1 class="text-5xl mt-16 text-yellow-500">
             <p class="text-center text-7xl text-yellow-500">404!</p> Page not found
        </h1>
        <img src="images/Esperando.png" alt="" srcset="">
        <p class="mx-96 pt-10 text-yellow-500 text-center ">
            Recuerda que esto es solo una prueba y que es un producto imaginario <span class="text-2xl text-yellow-500"> ATT: DaironBot </span>
        </p>
    </div>
<div class=" pt-24">
    <Footer/>
</div>
</Layout404>