<div class="md:flex flex-col-3 pt-28 gap-10 container text-center items-center mx-5 pb-32 ">
    <div class="grid justify-items-center">
        <img class="h-80 hover:scale-110" src="images/Casco.png" alt="">
        <p class="text-3xl text-yellow-500">
            Realismo
        </p>
        <p class="text-xl text-slate-300"> Nos centramos en el <kbd>realismo</kbd> de nuestras historias</p>
    </div>
    <div class="grid justify-items-center pt-10">
        <img class="rounded-full h-64 hover:scale-110" src="images/Paisaje.png" alt="">
        <p class="pt-5 text-3xl text-yellow-500">
            Inmerción
        </p>
        <p class="text-xl text-slate-300"> La <kbd>inmersión</kbd> es lo más importante para disfrutar de la <kbd>historia</kbd></p>
    </div>
    <div class="grid justify-items-center">
        <img class="h-80 hover:scale-110" src="images/Feli.png" alt="">
        <p class="text-3xl text-yellow-500">
            diversión
        </p>
        <p class="text-xl text-slate-300 ">Te <kbd>garantizamos</kbd> horas y horas de<kbd>diversión</kbd></p>
    </div>
</div>

<style>
    kbd{
    border: 2px solid #F26716;
    box-shadow: 2px 2px #f26716;
    font-weight: 700;
    padding: 2px 4px;
    margin-right: 4px;
    white-space: nowrap;
}
</style>