<div class="container md:mx-16  mt-20">
    <div class="md:grid grid-cols-2 gap-14">
        <div class="text-center md:my-40 md:mx-5 text-6xl text-neutral-300">
            <p>Preparate para una nueva</p> 
            <span class="text-yellow-500 text-8xl">Aventura</span>
        </div>
        <div class="md:mx-20">
            <img src="images/caballero arrodillado.png" alt="">
        </div>
    </div>
</div>