<header class="  lg:px-16 md:px-4 px-6 backdrop-blur-xl bg-style flex flex-wrap items-center md:py-4 py-6 shadow-md mx-10 mt-5 rounded-3xl drop-shadow-2xl">
    <div class="flex-1 flex justify-between items-center">
        <a href="/" class="h-10 w-10">
            <img src="images/Logo.png" alt="Image logo">
        </a>
    </div>

    <label for="menu-toggle" class="pointer-cursor md:hidden block">
      <svg class="fill-current text-white"
        xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
        <title>menu</title>
        <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
      </svg>
    </label>
    <input class="hidden" type="checkbox" id="menu-toggle" />

    <div class="hidden md:flex md:items-center md:w-auto w-full" id="menu">
        <nav>
            <ul class="md:flex items-center justify-between text-base text-white pt-4 md:pt-0">
                <li><a class="md:p-4 py-3 px-0 block" href="/Prueba-T-cnica-/">Inicio</a></li>
                <li><a class="md:p-4 py-3 px-0 block" href="/Prueba-T-cnica-/404">Producto</a></li>
                <li><a class="md:p-4 py-3 px-0 block" href="mailto:daiorn.rodriguezvega@gmail.com">Contacto</a></li>
            </ul>
        </nav>
    </div>
</header>

<style>
    .bg-style{
        background-color: #171A24;
    }
</style>