<div class="containerw-full h-full fondo md:mx-7 md:rounded-2xl grid md:grid-cols-1 justify-items-center">
    <div class="h-60 w-60 m-10">
        <img src="images/Dlagon2.png " alt="">
    </div>
    <div class="mx-10 md:mx-0">
        <h1 class="text-5xl text-green-50">
            Prueba <span class="text-yellow-500">La Beta</span>
        </h1>
    </div>
    <div class="m-16 mb-40">
        <button class="relative px-8 py-2 rounded-md fondo isolation-auto z-10 border-2 border-yellow-500
        before:absolute before:w-full before:transition-all before:duration-700 before:hover:w-full before:-right-full before:hover:right-0 before:rounded-full  before:bg-yellow-500 before:-z-10  before:aspect-square before:hover:scale-150 overflow-hidden before:hover:duration-700 text-yellow-500 hover:text-slate-950 text-3xl shadow-lg hover:shadow-yellow-500/50" >Prueba la beta</button>
    </div>
</div>

<style>
    .fondo{
        background-color: #171A24;
    }
</style>